/.Composite.java._trace
/.DesignPatterns.java._trace
/.Strategy.java._trace
/.Path2.java._trace
/.Observer.java._trace
/.Path1.java._trace
/.Path3.java._trace
/.Singleton.java._trace
/.Path4.java._trace
/Composite.java
/DesignPatterns.java
/Observer.java
/Path1.java
/Path2.java
/Path3.java
/Path4.java
/Singleton.java
/Strategy.java
